# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# content
/public/images

# 忽略 content 下所有内容
content/*

# 只打开到 dev 的路径（逐级解锁）
!content/developer
content/developer/*

!content/developer/dev
!content/developer/dev/**

!.gitignore

/.archive



# ----- default -----

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
